<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AIDforYOU|About</title>
    {%include 'Aid_app/common/commoncss.html'%}
</head>
<body  class="color" style="background-color: rgb(243, 125, 151); height:fit-content;">

    {% include 'Aid_app/html/header.html'  %}
    <!-- <div class="row bg-info">
        <div class="col-4 bg-danger">
        <h1>4grids</h1>

    </div> -->
    <h1>ABOUTUS PAGE</h1>
  <!-- <p>Resize this responsive page to see the effect!</p>  -->
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>The AIDforYOU portal provides patients with access to a large pool of qualified Doctors  and to make the process of finding the best Doctor in their nearby area aur town.</p>
      <p>The website also provides an opportunity for doctors to advertise their clinic soo that those  who don't know about them can also get to know, and patients can easily find their and easily take appointed online and can get the doctors with their timings
        </p>
       
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>
        This website helps new citizen in any state to find their nearby doctors respectively
    </p>
      <p>In this portal Doctors of different field will get registered and people will get them easily. </p>
      <p>Any individual can search them fix meeting with them for further actions.</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Users can give reviews and ratings for the doctors . doctors can upload videos and article according to their need.</p>
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



    
    
    {% include 'Aid_app/html/footer.html' %}
    {% include 'Aid_app/common/commonjs.html' %}


</body>
</html>

    
