<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All doctors</title>
    

    {%include 'Aid_app/common/commoncss.html'%}
    <style>
      body{
        background-color: rgb(204, 104, 146);
      }
    </style>

</head>
<body>
  
    </div>
    {% include 'Aid_app/html/header.html'  %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone_no</th>
            <th scope="col">Gender</th>
            <th scope="col">Experience</th>
          </tr>
        </thead>
        <tbody>
          {%for d in doctor_data%}

          <tr>
            <th scope="row">
             <a href="/details/{{d.Doctorid}}">{{d.name}} </a>
            </th>
            <th scope="row">
                {{d.email}} 
            </th>
            <th scope="row">
                {{d.phone}}
            </th>
            <th scope="row">
                {{d.gender}}
            </th>
            <th scope="row">
              {{d.experience}}
          </th>
          </tr>


          {%endfor%}
          
        </tbody>
      </table>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      
  



    
    
    {% include 'Aid_app/html/footer.html' %}
    {% include 'Aid_app/common/commonjs.html' %}


</body>
</html>

    
