<style>
    .nav-link{
            color:blue !important ;
            font-size: 20px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    a:hover{
      color:blueviolet !important;
    }
    .dropdown-items{
      color: black !important;
    }
    
    nav{
      /* background-color: blueviolet; */
      background-image: linear-gradient(rgb(132, 0, 255), rgb(242, 0, 255));
    }
  </style>
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{'/'}}"><i class='fas fa-home'></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{'/about/'}}">About</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{'/contact/'}}">Contact</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{'/feedback/'}}">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{'/alldoctors/'}}">Doctor-Details</a>
                </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Doctors
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{'/registration/'}}">Doctor-Registration</a></li>
                <li><a class="dropdown-item" href="{{'/login/'}}">Doctor-Login</a></li>
                <li><hr class="dropdown-divider"></li>
                
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>